:root {
  --primary-color: #433378;
  --secondary-color: #38517b;
  --tertiary-color: #39a6b2;
}


/* header */

header {
  background-color: var(--secondary-color);
}



.notification {
  background-color: var(--tertiary-color);
  
}

.h3 {
font-size: 24px;
word-spacing: 30px;
color: var(--primary-color);
}

h1 {
  color: var(--tertiary-color);
}

/* body */

body {
  background-color: var(--primary-color);
}

.box {
  background-color: var(--secondary-color);
}

.main {
  background-color: var(--tertiary-color);
}

.gameicon {
  color: var(--tertiary-color);
}

.sidebar {
  background-color: var(--primary-color);
}

.usetext {
  display: flex;
  color: var(--tertiary-color);
}

.bartext {
  color: var(--primary-color);
  font-size: 20px;
}


/* hero */
.hero {
    display: flex;
    background-image: url(../images/Gaming-Wallpaper-Desktop.jpg);
    background-position: 50%;
}

/* main box component */
main {
  margin: 35px;  
}

h2 { 
    font-size: 40px;
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 12px;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
  border-radius: 5px;
}


button:hover {
  background-color:var(--primary-color);
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

/* footer */
.footertext {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);

}
.icons {
  justify-content: right;
}